.navbar_style {
    font-size: 15px;
    background-color: #000000; }
  
.nav-link:hover {
    border-bottom: 3p solid white;
    transition: 0.3s; }
  
.navbar_style ul li a:hover {
    color: #000000 !important;
    border-bottom: 1px solid white; }
  
.navbar-nav .nav-link {
    color: white !important; }