.navbar_style {
    font-size: 15px;
    background-color: $header-background;

    .nav-link {
        color: white;
        padding: 10px;

        &:hover {
            color: $button-hover-background;
            border-bottom: 2px solid white;
            @include transition(color, 0.3s);
        }
    }
}