$font-family-main: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$background-color: #dbdada;
$header-background: #000000;
$main-text-color: #ffffff;
$h3-color: #030303;
$button-background: #000000;
$button-hover-background: #c70000;
$border-color: #ddd;
$container-width: 80%;